[submodule "themes/whisper"]
	path = themes/whisper
	url = https://github.com/JugglerX/hugo-whisper-theme.git
[submodule "themes/ace-docs"]
	path = themes/ace-docs
	url = https://github.com/vantagedesign/ace-documentation.git
